<div id="sign-up">
  <form action='/users' method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="password_confirmation" placeholder="password_confirmation">
    <button>Add user</button>
  </form>
</div>